<!-- orders/templates/orders/create_order.html -->
{% extends 'base.html' %}
{% comment %}
<!DOCTYPE html>
<html>
  <head>
    <title>Yeni Sipariş Oluştur</title>
  </head>
  <body>
    {% endcomment %} 
     {% block content %}
     <style>
        form {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        input,
        button {
          padding: 10px;
          margin: 5px 0;
        }
        button {
          background-color: #4caf50;
          color: white;
          border: none;
          cursor: pointer;
        }
        button:hover {
          background-color: #45a049;
        }
      </style>
    <h1>Yeni Sipariş Oluştur</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Sipariş Ver</button>
    </form>
    {% endblock %} {% comment %}
  </body>
</html>
{% endcomment %}
